<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">I minor Chats</div>
      <div class="item item-body">
        <div>
         On development By : i-Minor Team<br>
         This App Has A GNU Public Lisence
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">How To Begin Chats?</div>
      <div class="item item-body">
        <div>
          Login with your Twitter Account in Account Tabs, Enjoy!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Credits & Upcoming</div>
      <div class="item item-body">
        <div>
          
          <b>Upcoming : </b><br>
          -Post Status At Dashboard<br>
          -Nice Templating<br> 
          -Some Chat Functionality<br>
          <b>Credits :</b><br>
          Dery Febriantara.<br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
